/**********************************************
* Customization Heinz Wittenbrink
/ **********************************************/

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');



body {font-family: 'Oswald', sans-serif;}



p.rights { font-size: small;
  color:gray;
  position: fixed;
  bottom: 3em;
  right: 0em;
  transform: rotate(90deg);
	transform-origin: right bottom 0;
}

p.rights a {color: gray;}
